.container {
  width: 100%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.row::after {
  display: table;
  clear: both;
  content: "";
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

* {
  box-sizing: border-box;
}

/*############### Nav bar ############*/

nav {
  width: 100%;
  margin: 0;
}

nav ul {
  background-color: #eee;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul.topnav li {
  list-style: none;
  float: left;
}

ul.topnav li.topnav-right {
  float: right;
}

ul.topnav li a {
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
  color: #666;
}

ul.topnav li a:hover {
  background-color: #0080ff;
  color: #fff;
}

ul.topnav li.dropdownIcon {
  display: none;
}

/*##### Custom styles #########*/

#section-1-gradient {
  background: #076dff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    #076dff,
    #65a5ff
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#076dff, #65a5ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    #076dff,
    #65a5ff
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#076dff, #65a5ff); /* Standard syntax */
}
div.box {
  text-align: center;
  margin: 24px;
  padding: 36px 24px 40px 24px;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
div.slopeIcon img {
  display: block;
  margin: auto;
  box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.15),
    2px 2px 17px 2px rgba(0, 0, 0, 1);
}
button {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  background-color: #0069ff;
  padding: 15px 60px;
  display: block;
  text-align: center;
  margin: 5px;
  border-radius: 7px;
}
button.learnMore {
  display: block;
  margin: auto;
}
div.leftSide-col {
  margin-left: 30%;
  display: flex;
  flex-direction: column;
}

div.rightSide-col {
  margin-left: 15%;
}
h1.large {
  color: #fff;
  font-size: 56px;
  margin: 0;
  line-height: 70px;
}
h1.section2Header {
  font-size: 65px;
  text-align: center;
}
form h2 {
  color: #fff;
}
input[type="text"] {
  font-size: 20px;
  width: 400px;
  min-width: 100px;
  padding: 5px;
  border-radius: 7px;
}
.loginForm_container {
  margin-left: 13rem;
  .loginForm {
    display: flex;
    flex-direction: column;
  }
  .button_group {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .loginForm_btn {
    margin-right: 1rem;
  }
  .login_fail{
    color:red;
  }
  .signup_noti{
    margin-top: 1rem;
  }
  .login_text{
    display: flex;
    flex-direction: column;
  }
  .link-to-signup{
    text-decoration: underline;
    color:blue;
  }
}

.signupForm_container{
  margin-left: 13rem;
  .btn-group{
    display: flex;
    margin-top: 1rem;
  }
  .signup_btn{
    margin: auto;
  }
  .agreement_error{
    color:red;
  }
}
.review_container {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffff99;
  .review_content {
    margin: auto;
    .review_btn_cancel {
      display: flex;
      margin-right: 10px;
    }
  }
  .review_label {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .review_text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
.Logging {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4rem;
}

.updateProfile {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  font-size: 2rem;
}
.openDoctorChat {
  margin-top: 10px;
}
