.loginForm_container {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px;
  display: flex;
  flex-direction: column;
  width: 500px;

  .loginForm_title {
    margin: auto;
  }

  .normalLogin {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .googleLogin {
    margin: auto;
  }

  .loginForm {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .link-to-signup {
    text-decoration: none;
  }

  .signup_noti {
    font-size: 1.4rem;
    margin: auto;
  }
}

.signupForm_container {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffff99;
  .signupForm {
    margin: auto;
    .signup_btn {
      float: right;
    }
  }
  .checkbox {
    margin-top: 1rem;
  }
  .btn-group {
    margin-top: 1rem;
  }

  .link-to-signup {
    text-decoration: none;
  }
  .file_upload {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
  }
  .specialty {
    display: flex;
    flex-direction: column;
  }
}

.review_container {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffff99;
  .review_content {
    margin: auto;
    .review_btn_cancel {
      display: flex;
      margin-right: 10px;
    }
  }
  .review_label {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .review_text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

.Logging {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4rem;
}

.updateProfile {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.openDoctorChat {
  margin-top: 10px;
}
