.content_container {
  margin-top: 3rem;
  display: flex;
  height: 70vh;
}

.unKnown {
  flex: 0 0 30%;
  background-color: yellow;
}

.loginForm_container {
  flex: 0 0 40%;
}

.dialogFlow {
  flex: 0 0 30%;
  background-color: green;
}

.header {
  background-color: red;
  height: 5rem;
}

.footer {
  background-color: blue;
  height: 10rem;
}
